body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.topcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92vh;
    flex-wrap: wrap;
    background-color: #1F2937;
    width: 100%;
   
}
.topsubcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
   color: white;
    width: 77%;
    gap: 9.5vh;
    color: #F9FAF8;
    min-height: 90vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}
.midtop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;  
    width: 100%;
    min-height: 50vh;
    gap: 5vh;
    padding-bottom: 5vh;
}
.leftcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: baseline;
    padding-top: 5%;
    gap: 1vh;
    font-size: 18px;
   flex: 1 1;
   
}
.rightcontainer{
    display: flex; 
    justify-content: center;
    align-items: center;
    min-width: 250px;
    min-height: 280px;
    height: 285px;
    flex: 1 1;

}
ul{
    display: flex;
    gap: 1vw;
    list-style: none;
    margin-left: auto;
}

.pic{
   border-radius: 5px;
   object-fit: fill;
   width: 100%;
   height: 100%;
}



.parat{
    font-size: clamp(48px,4vw,250px);
    
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 7px 30px;
    font-size: 19px;
    border-radius: 8px;  
}
button.topbut{
    border: 0;
    margin-top: 10px;
}
.middlecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:84vh;
    height: auto;
    gap: 5vh;
}
.cardcontainer{
    display: flex;
    align-items: center;
    gap: 3vw;
    flex-wrap: wrap;
}
.card{
    border:2px solid #1F2937;
    height:43vh;
    width:13vw;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-top: 5vh;
}
.quote{
    background-color: #E5E7EB;
    height: 400px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment{
    display: flex;
    justify-content: flex-end;
    align-items:center ;
    width: 100%;
    margin-right: 500px;
    margin-top: -80px;
    font-size: 25px;
}
.bottomcontainer{
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 460px;
}
.action{
    height: 160px;
    width: 76%;
    background-color:#3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    color: #F9FAF8;
    border-radius: 10px;
    margin-top: auto;
}
button.botbut{
    border: 2px solid #F9FAF8;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin-top: auto;
    width: 100%;
    height: 100px;
    color: #F9FAF8;
}
button:hover{
    cursor: pointer;
}